HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## FRONTEND
# dependencies
/plutos-frontend/node_modules/
/plutos-frontend/.pnp
/plutos-frontend/.pnp.js

# testing
/plutos-frontend/coverage

# production
/plutos-frontend//build

# misc
/plutos-frontend/.DS_Store
/plutos-frontend/.env.local
/plutos-frontend/.env.development.local
/plutos-frontend/.env.test.local
/plutos-frontend/.env.production.local

/plutos-frontend/npm-debug.log*
/plutos-frontend/yarn-debug.log*
/plutos-frontend/yarn-error.log*