.login-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-form {
    width: 300px;
    height: 300px;
    padding: 10px;
    max-width: 600px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form-button {
    width: 100%;
}